@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./components/Card/index.css";
body {
  font-family: "Poppins", sans-serif;
  line-height: 1.625;
  @apply h-[100vh] w-[100vw] bg-primary-alt bg-opacity-40 text-primary-alt transition-[color] dark:bg-black;
}

body::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  background: url(https://s1.ax1x.com/2023/06/28/pCdnQSO.png) no-repeat;
  background-position: 0 -23px;
  z-index: -1;
  @apply h-full w-full opacity-80 transition dark:opacity-30;
}

* {
  transition-property: background-color, border-color, text-decoration-color,
    fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, left;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
::-webkit-scrollbar {
  display: none;
}
::selection {
  @apply bg-primary-main text-white;
}

.main {
  background-repeat: no-repeat;
  transition: none;
}

img {
  user-select: none;
}

@layer utilities {
  .primary-link {
    @apply text-primary-main hover:text-primary-light active:text-primary-alt;
  }
}
