@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  background-color: black;

  color: hsl(var(--primary));
  line-height: 1.625;
}

body::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: url(https://s1.ax1x.com/2023/06/28/pCdnQSO.png) no-repeat;
  background-position: 0 -23px;
  z-index: -1;
  opacity: 0.8;
}

* {
  transition: all 0.3s ease;
}

::-webkit-scrollbar {
  display: none;
}
::selection {
  background-color: hsl(var(--primary));
  color: #fff;
}

:root {
  --hue: 164;
  --primary: var(--hue) 39% 17%;
  --primary-alt: var(--hue) 39% 37%;
  --primary-light: var(--hue) 39% 47%;
}

.text-primary {
  color: hsl(var(--primary), var(--text-opacity, 1));
}

.main {
  background-repeat: no-repeat;
  transition: none;
}

.card {
  @apply rounded-2xl  p-4 shadow-md;
}

.card-bg-1 {
  @apply bg-white bg-opacity-80;
}

.card-bg-2 {
  @apply bg-white bg-opacity-40;
}

.card-bg-btn:hover {
  background-color: hsl(var(--primary-light) / 80%);
}

.card-bg-btn:active {
  background-color: hsl(var(--primary-alt) / 80%);
  transform: translateY(2px);
  @apply shadow-transparent;
}

img {
  user-select: none;
}
