@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./components/Card/index.css";
body {
  font-family: "Poppins", sans-serif;
  line-height: 1.625;
  @apply bg-primary-alt bg-opacity-40 text-primary-alt;
}

body::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: url(https://s1.ax1x.com/2023/06/28/pCdnQSO.png) no-repeat;
  background-position: 0 -23px;
  z-index: -1;
  opacity: 0.8;
}

* {
  transition: all 0.3s ease;
}

::-webkit-scrollbar {
  display: none;
}
::selection {
  @apply bg-primary-main text-white;
}

.main {
  background-repeat: no-repeat;
  transition: none;
}

img {
  user-select: none;
}

@layer utilities {
  .primary-link {
    @apply text-primary-main hover:text-primary-light active:text-primary-alt;
  }
}
